## Global

In [72]:
# Import das bibliotecas base:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [73]:
#Import dos arquivos csv
pilotos = pd.read_csv('./bases/drivers.csv')
piloto_classificacoes = pd.read_csv('./bases/driver_standings.csv')
sprint_resultados = pd.read_csv('./bases/sprint_results.csv')
parada_boxes = pd.read_csv('./bases/pit_stops.csv')
qualificacao = pd.read_csv('./bases/qualifying.csv')
status = pd.read_csv('./bases/status.csv')
temporadas = pd.read_csv('./bases/seasons.csv')
construtores = pd.read_csv('./bases/constructors.csv')
construtor_resultados = pd.read_csv('./bases/constructor_results.csv')

## Tratamento de dados/Limpeza

Tabelas a serem tratadas, limpas e análisadas serão:
pilotos, pilotos_classificacoes, sprint_resultados, parada_boxes, status, temporadas, construtores, construtor_resultados

### T/L tabela DRIVERS (PILOTOS):

Comentários:

É possível excluir as colunas "número" e "código", já que são "decorativos" na regra de négocio e possuem nulls, coisa que não acontece com as outras colunas

#### Alterações pré-determinadas:

In [74]:
pilotos

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher
853,855,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Zhou_Guanyu
854,856,de_vries,21,DEV,Nyck,de Vries,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries
855,857,piastri,81,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri
856,858,sargeant,2,SAR,Logan,Sargeant,2000-12-31,American,http://en.wikipedia.org/wiki/Logan_Sargeant

In [75]:
#Colocando as colunas em PT_BR
pilotos.columns = ['piloto_id', 'piloto_ref', 'número', 'código', 'nome', 'sobrenome', 'dt_nascimento', 'nacionalidade', 'url']

#Excluindo colunas que não precisam
pilotos = pilotos.drop('url', axis=1)

In [76]:
pilotos

,piloto_id,piloto_ref,número,código,nome,sobrenome,dt_nascimento,nacionalidade
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish
...,...,...,...,...,...,...,...,...
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German
853,855,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese
854,856,de_vries,21,DEV,Nyck,de Vries,1995-02-06,Dutch
855,857,piastri,81,PIA,Oscar,Piastri,2001-04-06,Australian
856,858,sargeant,2,SAR,Logan,Sargeant,2000-12-31,American

#### Informações sobre as colunas

In [77]:
print("Colunas: ")
pilotos.columns

Colunas:

Index(['piloto_id', 'piloto_ref', 'número', 'código', 'nome', 'sobrenome',
       'dt_nascimento', 'nacionalidade'],
      dtype='object')

In [78]:
print("Descricao: ")
pilotos.describe()

Descricao:

        piloto_id
count  857.000000
mean   429.057176
std    247.632402
min      1.000000
25%    215.000000
50%    429.000000
75%    643.000000
max    858.000000

In [79]:
print("Informacoes: ")
pilotos.info()
print("\n")


print("Dimensoes: ")
print(pilotos.shape)
print("\n")

print("Head:")
pilotos.head(5)

Informacoes:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   piloto_id      857 non-null    int64
 1   piloto_ref     857 non-null    object
 2   número         857 non-null    object
 3   código         857 non-null    object
 4   nome           857 non-null    object
 5   sobrenome      857 non-null    object
 6   dt_nascimento  857 non-null    object
 7   nacionalidade  857 non-null    object
dtypes: int64(1), object(7)
memory usage: 53.7+ KB


Dimensoes:
(857, 8)


Head:

,piloto_id,piloto_ref,número,código,nome,sobrenome,dt_nascimento,nacionalidade
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish

In [80]:
#retorna o número de valores ausentes para cada coluna.
pilotos.isna().sum()

piloto_id        0
piloto_ref       0
número           0
código           0
nome             0
sobrenome        0
dt_nascimento    0
nacionalidade    0
dtype: int64

#### Alterações de type nas colunas e nulls

In [85]:
#Colocando os valores "\n" COMO None
pilotos = pilotos.replace('\\N', np.nan)

In [88]:
#Calcula e mostra a contagem de <NA>, nulls, por coluna.

# Dicionário para armazenar as contagens por coluna
contagens_por_coluna = {}

# Calcula a contagem de "/N" por coluna
for coluna in pilotos.columns:
    contagem = pilotos[coluna].astype(str).str.count('<NA>').sum()
    contagens_por_coluna[coluna] = contagem

# Exibe a contagem de <NA> por coluna
print("Contagem de '<NA>' em cada coluna:")
for coluna, contagem in contagens_por_coluna.items():
    print(f"{coluna}: {contagem}")

Contagem de '<NA>' em cada coluna:
piloto_id: 0
piloto_ref: 0
número: 803
código: 757
nome: 0
sobrenome: 0
dt_nascimento: 0
nacionalidade: 0

In [83]:
#Transformando em String
pilotos['piloto_ref'] = pilotos['piloto_ref'].astype(pd.StringDtype())
pilotos['número'] = pilotos['número'].astype(pd.StringDtype())
pilotos['código'] = pilotos['código'].astype(pd.StringDtype())
pilotos['nome'] = pilotos['nome'].astype(pd.StringDtype())
pilotos['sobrenome'] = pilotos['sobrenome'].astype(pd.StringDtype())
pilotos['nacionalidade'] = pilotos['nacionalidade'].astype(pd.StringDtype())

#Transformando em date, pois está em object
pilotos['dt_nascimento'] = pd.to_datetime(pilotos['dt_nascimento'])