## Global

In [31]:
# Import das bibliotecas base:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [32]:
#Import dos arquivos csv
pilotos = pd.read_csv('./bases_br/pilotos.csv') #feito
corridas = pd.read_csv('./bases_br/corridas.csv') 
circuitos = pd.read_csv('./bases_br/circuitos.csv') #feito
resultados = pd.read_csv('./bases_br/resultados.csv') #feito
construtores = pd.read_csv('./bases_br/construtores.csv') #feito

In [33]:
pilotos #Será usado todas as colunas

,piloto_id,piloto_ref,numero,codigo,nome,sobrenome,dt_nascimento,nacionalidade
0,1,hamilton,44.0,HAM,Lewis,Hamilton,1985-01-07,British
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,1977-05-10,German
2,3,rosberg,6.0,ROS,Nico,Rosberg,1985-06-27,German
3,4,alonso,14.0,ALO,Fernando,Alonso,1981-07-29,Spanish
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,1981-10-19,Finnish
...,...,...,...,...,...,...,...,...
852,854,mick_schumacher,47.0,MSC,Mick,Schumacher,1999-03-22,German
853,855,zhou,24.0,ZHO,Guanyu,Zhou,1999-05-30,Chinese
854,856,de_vries,21.0,DEV,Nyck,de Vries,1995-02-06,Dutch
855,857,piastri,81.0,PIA,Oscar,Piastri,2001-04-06,Australian
856,858,sargeant,2.0,SAR,Logan,Sargeant,2000-12-31,American

In [34]:
pilotos['dt_nascimento'] = pilotos['dt_nascimento'].astype(pd.StringDtype())

In [35]:
pilotos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   piloto_id      857 non-null    int64
 1   piloto_ref     857 non-null    object
 2   numero         54 non-null     float64
 3   codigo         100 non-null    object
 4   nome           857 non-null    object
 5   sobrenome      857 non-null    object
 6   dt_nascimento  857 non-null    string
 7   nacionalidade  857 non-null    object
dtypes: float64(1), int64(1), object(5), string(1)
memory usage: 53.7+ KB

In [36]:
#Transformando em String
pilotos['piloto_ref'] = pilotos['piloto_ref'].astype(pd.StringDtype())
pilotos['codigo'] = pilotos['codigo'].astype(pd.StringDtype())
pilotos['nome'] = pilotos['nome'].astype(pd.StringDtype())
pilotos['sobrenome'] = pilotos['sobrenome'].astype(pd.StringDtype())
pilotos['nacionalidade'] = pilotos['nacionalidade'].astype(pd.StringDtype())
pilotos['numero'] = pilotos['numero'].astype(pd.StringDtype())

#Conversão de objetivo para datatime
pilotos['dt_nascimento'] = pd.to_datetime(pilotos['dt_nascimento'])

In [37]:
pilotos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   piloto_id      857 non-null    int64
 1   piloto_ref     857 non-null    string
 2   numero         54 non-null     string
 3   codigo         100 non-null    string
 4   nome           857 non-null    string
 5   sobrenome      857 non-null    string
 6   dt_nascimento  857 non-null    datetime64[ns]
 7   nacionalidade  857 non-null    string
dtypes: datetime64[ns](1), int64(1), string(6)
memory usage: 53.7 KB

In [38]:
construtores

     construtor_id construtor_ref            nome nacionalidade
0                1        mclaren         McLaren       British
1                2     bmw_sauber      BMW Sauber        German
2                3       williams        Williams       British
3                4        renault         Renault        French
4                5     toro_rosso      Toro Rosso       Italian
..             ...            ...             ...           ...
206            209          manor  Manor Marussia       British
207            210           haas    Haas F1 Team      American
208            211   racing_point    Racing Point       British
209            213     alphatauri      AlphaTauri       Italian
210            214         alpine  Alpine F1 Team        French

[211 rows x 4 columns]

In [39]:
construtores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   construtor_id   211 non-null    int64
 1   construtor_ref  211 non-null    object
 2   nome            211 non-null    object
 3   nacionalidade   211 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.7+ KB

In [40]:
#Transformando em String
construtores['construtor_ref'] = construtores['construtor_ref'].astype(pd.StringDtype())
construtores['nome'] = construtores['nome'].astype(pd.StringDtype())
construtores['nacionalidade'] = construtores['nacionalidade'].astype(pd.StringDtype())

In [41]:
construtores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   construtor_id   211 non-null    int64
 1   construtor_ref  211 non-null    string
 2   nome            211 non-null    string
 3   nacionalidade   211 non-null    string
dtypes: int64(1), string(3)
memory usage: 6.7 KB

In [42]:
resultados

,Unnamed: 0,result_id,corridas_id,piloto_id,construtor_id,numero,grid,posicao,posicao_texto,posicao_ordem,pontos,voltas,tempo,milisegundos,volta_rapida,rank,volta_rapida_tempo,volta_rapida_velocidade,status_id
0,0,1,18,1,1,22.0,1,1.0,1,1,10.0,58,1:34:50.616,5690616.0,39.0,2.0,1:27.452,218.300,1
1,1,2,18,2,2,3.0,5,2.0,2,2,8.0,58,+5.478,5696094.0,41.0,3.0,1:27.739,217.586,1
2,2,3,18,3,3,7.0,7,3.0,3,3,6.0,58,+8.163,5698779.0,41.0,5.0,1:28.090,216.719,1
3,3,4,18,4,4,5.0,11,4.0,4,4,5.0,58,+17.181,5707797.0,58.0,7.0,1:28.603,215.464,1
4,4,5,18,5,1,23.0,3,5.0,5,5,4.0,58,+18.014,5708630.0,43.0,1.0,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26075,26075,26081,1110,817,213,3.0,19,16.0,16,16,0.0,44,+1:43.071,5053521.0,25.0,15.0,1:50.994,227.169,1
26076,26076,26082,1110,858,3,2.0,18,17.0,17,17,0.0,44,+1:44.476,5054926.0,37.0,9.0,1:50.486,228.213,1
26077,26077,26083,1110,807,210,27.0,0,18.0,18,18,0.0,44,+1:50.450,5060900.0,26.0,4.0,1:49.907,229.415,1
26078,26078,26084,1110,832,6,55.0,4,NaN,R,19,0.0,23,NaN,NaN,9.0,19.0,1:53.138,222.864,130
26079,26079,26085,1110,857,1,81.0,5,NaN,R,20,0.0,0,NaN,NaN,NaN,0.0,NaN,NaN,130

In [43]:
#Excluindo colunas que não precisam
resultados = resultados.drop('posicao', axis=1)
resultados = resultados.drop('posicao_texto', axis=1)
resultados = resultados.drop('voltas', axis=1)
resultados = resultados.drop('tempo', axis=1)
resultados = resultados.drop('milisegundos', axis=1)
resultados = resultados.drop('volta_rapida', axis=1)
resultados = resultados.drop('rank', axis=1)
resultados = resultados.drop('volta_rapida_tempo', axis=1)
resultados = resultados.drop('volta_rapida_velocidade', axis=1)
resultados = resultados.drop('status_id', axis=1)
resultados = resultados.drop('Unnamed: 0', axis=1)
resultados = resultados.drop('result_id', axis=1)

In [44]:
resultados

,corridas_id,piloto_id,construtor_id,numero,grid,posicao_ordem,pontos
0,18,1,1,22.0,1,1,10.0
1,18,2,2,3.0,5,2,8.0
2,18,3,3,7.0,7,3,6.0
3,18,4,4,5.0,11,4,5.0
4,18,5,1,23.0,3,5,4.0
...,...,...,...,...,...,...,...
26075,1110,817,213,3.0,19,16,0.0
26076,1110,858,3,2.0,18,17,0.0
26077,1110,807,210,27.0,0,18,0.0
26078,1110,832,6,55.0,4,19,0.0
26079,1110,857,1,81.0,5,20,0.0

In [45]:
resultados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26080 entries, 0 to 26079
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   corridas_id    26080 non-null  int64
 1   piloto_id      26080 non-null  int64
 2   construtor_id  26080 non-null  int64
 3   numero         26074 non-null  float64
 4   grid           26080 non-null  int64
 5   posicao_ordem  26080 non-null  int64
 6   pontos         26080 non-null  float64
dtypes: float64(2), int64(5)
memory usage: 1.4 MB

In [46]:
corridas

,corrida_id,ano,rodada,circuito_id,nome,data,hora,fp1_data,fp1_hora,fp2_data,fp2_hora,fp3_data,fp3_hora,quali_data,quali_hora,sprint_data,sprint_hora
0,1,2009,1,1,Australian Grand Prix,2009-03-29,1900-01-01 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,1900-01-01 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,1900-01-01 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,1900-01-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,1900-01-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1096,1116,2023,18,69,United States Grand Prix,2023-10-22,1900-01-01 19:00:00,2023-10-20,1900-01-01 17:30:00,2023-10-21,1900-01-01 18:00:00,NaN,NaN,2023-10-20,1900-01-01 21:00:00,2023-10-21,1900-01-01 22:00:00
1097,1117,2023,19,32,Mexico City Grand Prix,2023-10-29,1900-01-01 20:00:00,2023-10-27,1900-01-01 18:30:00,2023-10-27,1900-01-01 22:00:00,2023-10-28,1900-01-01 17:30:00,2023-10-28,1900-01-01 21:00:00,NaN,NaN
1098,1118,2023,20,18,São Paulo Grand Prix,2023-11-05,1900-01-01 17:00:00,2023-11-03,1900-01-01 14:30:00,2023-11-04,1900-01-01 14:30:00,NaN,NaN,2023-11-03,1900-01-01 18:00:00,2023-11-04,1900-01-01 18:30:00
1099,1119,2023,21,80,Las Vegas Grand Prix,2023-11-19,1900-01-01 06:00:00,2023-11-17,1900-01-01 04:30:00,2023-11-17,1900-01-01 08:00:00,2023-11-18,1900-01-01 04:30:00,2023-11-18,1900-01-01 08:00:00,NaN,NaN
1100,1120,2023,22,24,Abu Dhabi Grand Prix,2023-11-26,1900-01-01 13:00:00,2023-11-24,1900-01-01 09:30:00,2023-11-24,1900-01-01 13:00:00,2023-11-25,1900-01-01 10:30:00,2023-11-25,1900-01-01 14:00:00,NaN,NaN

In [47]:
#Excluindo colunas que não precisam
corridas = corridas.drop('hora', axis=1)
corridas = corridas.drop('fp1_data', axis=1)
corridas = corridas.drop('fp1_hora', axis=1)
corridas = corridas.drop('fp2_data', axis=1)
corridas = corridas.drop('fp2_hora', axis=1)
corridas = corridas.drop('fp3_data', axis=1)
corridas = corridas.drop('fp3_hora', axis=1)
corridas = corridas.drop('quali_data', axis=1)
corridas = corridas.drop('quali_hora', axis=1)
corridas = corridas.drop('sprint_data', axis=1)
corridas = corridas.drop('sprint_hora', axis=1)
corridas = corridas.drop('circuito_id', axis=1)

In [48]:
corridas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1101 entries, 0 to 1100
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   corrida_id  1101 non-null   int64
 1   ano         1101 non-null   int64
 2   rodada      1101 non-null   int64
 3   nome        1101 non-null   object
 4   data        1101 non-null   object
dtypes: int64(3), object(2)
memory usage: 43.1+ KB

In [49]:
#Transformando em String
corridas['nome'] = corridas['nome'].astype(pd.StringDtype())

#Conversão de objetivo para datatime
corridas['data'] = pd.to_datetime(corridas['data'])

In [50]:
corridas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1101 entries, 0 to 1100
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   corrida_id  1101 non-null   int64
 1   ano         1101 non-null   int64
 2   rodada      1101 non-null   int64
 3   nome        1101 non-null   string
 4   data        1101 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(3), string(1)
memory usage: 43.1 KB

In [51]:
circuitos

,circuito_id,circuito_ref,nome,localizacao,pais,lat,lng,alt
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10.0
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18.0
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7.0
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109.0
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130.0
...,...,...,...,...,...,...,...,...
72,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.22700,-8.62670,108.0
73,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255.0
74,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.63190,39.10440,15.0
75,78,losail,Losail International Circuit,Al Daayen,Qatar,25.49000,51.45420,NaN
76,79,miami,Miami International Autodrome,Miami,USA,25.95810,-80.23890,NaN

In [52]:
circuitos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   circuito_id   77 non-null     int64
 1   circuito_ref  77 non-null     object
 2   nome          77 non-null     object
 3   localizacao   77 non-null     object
 4   pais          77 non-null     object
 5   lat           77 non-null     float64
 6   lng           77 non-null     float64
 7   alt           74 non-null     float64
dtypes: float64(3), int64(1), object(4)
memory usage: 4.9+ KB

In [53]:
#Transformando em String
circuitos['circuito_ref'] = circuitos['circuito_ref'].astype(pd.StringDtype())
circuitos['nome'] = circuitos['nome'].astype(pd.StringDtype())
circuitos['localizacao'] = circuitos['localizacao'].astype(pd.StringDtype())
circuitos['pais'] = circuitos['pais'].astype(pd.StringDtype())

In [54]:
circuitos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   circuito_id   77 non-null     int64
 1   circuito_ref  77 non-null     string
 2   nome          77 non-null     string
 3   localizacao   77 non-null     string
 4   pais          77 non-null     string
 5   lat           77 non-null     float64
 6   lng           77 non-null     float64
 7   alt           74 non-null     float64
dtypes: float64(3), int64(1), string(4)
memory usage: 4.9 KB

In [56]:
circuitos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   circuito_id   77 non-null     int64
 1   circuito_ref  77 non-null     string
 2   nome          77 non-null     string
 3   localizacao   77 non-null     string
 4   pais          77 non-null     string
 5   lat           77 non-null     float64
 6   lng           77 non-null     float64
 7   alt           74 non-null     float64
dtypes: float64(3), int64(1), string(4)
memory usage: 4.9 KB

In [55]:
## Exportação de dados

#Tabelas a serem tratadas, limpas e análisadas serão: pilotos, pilotos_classificacoes, construtores, construtor_resultados, sprint_resultados, parada_boxes
pilotos.to_csv('./bases_DW/pilotos.csv', index=False)
construtores.to_csv('./bases_DW/construtores.csv', index=False)
circuitos.to_csv('./bases_DW/circuitos.csv', index=False)
resultados.to_csv('./bases_DW/resultados.csv', index=False)
corridas.to_csv('./bases_DW/corridas.csv', index=False)